{%- if _collection != blank -%}
  <div class="block-slider-component">
    {%- if enable_slider -%}
    <native-slider data-autoplay="{{ autoplay }}" data-autoplay-timeout="{{ autoplay_timeout | default: 5000 }}">
    {%- endif -%}
    
      <div class="slider-container">
        {%- if enable_slider and controls -%}
        <div class="slider-header-controls">
          <button type="button" class="slider-prev-button" aria-label="Previous">
            {% render 'icon-dir-left' %}
          </button>
          <button type="button" class="slider-next-button" aria-label="Next">
            {% render 'icon-dir-right' %}
          </button>
        </div>
        {%- endif -%}

        <div class="slider-wrapper">
          <div class="slider-list" id="slider-{{section.id}}">
            {%- for product in collection.products limit: limit -%}
              <div class="slider-item">
                {%- render 'product-item' product: product, collection: collection -%}
              </div>
            {%- endfor -%}
          </div>
          
          {%- if enable_slider and dots -%}
          <div class="slider-dots"></div>
          {%- endif -%}
        </div>
      </div>
      
    {%- if enable_slider -%}</native-slider>{%- endif -%}
  </div>
{%- endif -%}