.section-product-tab-v4 .section-wrapper-image {
  display: flex;
  flex-wrap: wrap;
}

.section-product-tab-v4 .block-image {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: var(--gutter-md);
}

@media (min-width: 992px) {
  .section-product-tab-v4 .block-image {
    flex: 0 0 29%;
    width: 29%;
    margin-bottom: 0;
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
  }
}

@media (min-width: 1200px) {
  .section-product-tab-v4 .block-image {
    flex: 0 0 420px;
    width: 420px;
    margin-bottom: 0;
    -webkit-padding-end: 26px;
    padding-inline-end: 26px;
  }
}

.section-product-tab-v4 .section-body {
  flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 992px) {
  .section-product-tab-v4 .section-body {
    flex: 0 0 71%;
    width: 71%;
  }
}

@media (min-width: 1200px) {
  .section-product-tab-v4 .section-body {
    flex: 0 0 calc(100% - 420px);
    width: calc(100% - 420px);
  }
}

.section-product-tab-v4 .block-slider-component {
  position: relative;
}

.section-product-tab-v4 .slider-controls {
  position: static;
}

.section-product-tab-v4 .slider-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--body-bg-color);
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.19);
}

.section-product-tab-v4 .slider-controls button.slider-prev-button {
  left: 0;
}

@media (min-width: 1300px) {
  .section-product-tab-v4 .slider-controls button.slider-prev-button {
    left: -15px;
  }
}

.section-product-tab-v4 .slider-controls button.slider-next-button {
  right: 0;
}

@media (min-width: 1300px) {
  .section-product-tab-v4 .slider-controls button.slider-next-button {
    right: -15px;
  }
}
